// Text colors
$primary-text-color: #FFFFFF;
$secondary-text-color: #292929;
$tertiary-text-color: #6F6F6F;
$accent-color: #D13833;

// Backgrounds colors
$primary-bg: #F5F5F5;
$secondary-bg: #333333;

// Colors
$white: #FFFFFF;
$black: #000000;
$border-grey: #D5D5D5;
$ribbon-red: #981C18;

$primary-font: 'Raleway', sans-serif;

$animation-delay: 0.3s;
